h1 {
    color     : white;
    text-align: center;
    width     : 100%;
}

h1 span {
    background: red;
    margin    : 20px;
}

div.table {
    margin : auto;
    display: table;
}

div.tr {
    display: table-row;
}

div.td {
    display: table-cell;
    padding: 5px;
}

table {
    margin-left : auto;
    margin-right: auto;
    margin-top  : 50px;
    border      : 1px solid;
    width       : 50%;
}

tr:nth-child(odd) {
    background-color: #d3d3d3;
    text-align      : center;
}


tr:nth-child(even) {
    background-color: white;
    text-align      : center;
}